<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Add a new sondage</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'sondage/add.css' %}">
  
</head>
<body>

    <div id="main">    
        <h1>Add a new sondage</h1>

        {% comment %} Forms {% endcomment %}
        <form>
            <fieldset>
                <legend>Add a new sondage :</legend>
                <div class="input-bloc">
                    <label>Question : </label>
                    <input type="text" name="question_text"/>
                </div>

                <div class="input-bloc">
                    <label>Date publication : </label>
                    <input type="datetime-local" id="myDateInput" name="date_pub" min="">
                    {% comment %} <input type="date" name="date_pub"/> {% endcomment %}
                </div>

                <div class="input-bloc">
                    <input type='submit' value="Save" />
                </div>
            </fieldset>
        </form>
    </div>
    <a style='text-align:center;' id="link-home" href="{% url 'sondage:index' %}">Go Home</a>
</body>

<script>
    let d = new Date()
    let datemin = d.toISOString().slice(0, 16);

    const myDateInput = document.getElementById('myDateInput')
    myDateInput.min = datemin
    console.log(myDateInput)
    console.log(datemin)
</script>
</html>