*{
    margin:0;
    padding: 0;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: darkgray;
    color:black;
}

#header{
    border:solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:5px;
}

#header a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background-color: rgb(69, 69, 134);
    border: none;
    padding:7px;
}

#header a:hover{
    text-decoration: underline;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    font-size: 25px;
    font-family: consolas;
    text-decoration: none;
    list-style-type: none;
    background-color: white;
    margin-top: 10px;
    padding:10px;
    width: 40%;
    border-radius: 10px;
}

#main{
    /* background-color: yellow;
     */
    border:solid 1px black;
    padding-bottom: 10px;
}